@import "tailwindcss";

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.3s ease-out;
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeScale {
  animation: fadeScale 0.25s ease-out forwards;
}