@import "tailwindcss";

@keyframes slideLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .animate-slideLeft {
    animation: slideLeft 0.3s ease-out;
  }
  